In [126]:
import pandas as pd
import datetime

In [195]:
df = pd.read_csv("files/2023_09_05.csv")

now = datetime.datetime.now()
df[['data_inicio','data_fim']] = df[['data_inicio','data_fim']].apply(pd.to_datetime)
#fmt = "%Y-%m-%d %H:%M:%S"

#actual_date = datetime.datetime.strptime(now.strftime("%Y-%m-%d %H:%M:%S"), fmt)
#actual_date = datetime.datetime.strptime(date_cmp,fmt)

df

,consumo(minutos),id,username,data_inicio,data_fim,curso,email,consumo_material(cm)
0,270.0,75,Manuel013,2023-09-05 13:30:00,2023-09-05 18:00:00,ALUNO - UNISANTA - Engenharia de Computação,manuelcassiano01@gmail.com,0
1,60.0,3031,zequinha_,2023-09-05 09:30:00,2023-09-05 13:30:00,ALUNO - UNISANTA - Engenharia Eletrônica,zesurf93@gmail.com,0
2,180.0,928,rodrigo yuki,2023-09-05 10:00:00,2023-09-05 13:00:00,ALUNO - UNISANTA - Engenharia de Produção,rodrigoyukisimabukuro@gmail.com,0

In [139]:
df

,consumo(minutos),id,username,data_inicio,data_fim,curso,email,consumo_material(cm)
0,120.0,3620,Thiaguito,2023-08-30 20:00:00,2023-08-30 22:00:00,ALUNO - UNISANTA,geymerson_18@hotmail.com,0
1,60.0,1031,Vinicius José,2023-08-30 12:30:00,2023-08-30 14:00:00,ALUNO - UNISANTA - Engenharia de Produção,viniciusjose20@hotmail.com,119

In [48]:
#dat_min = f"{year}-{month}-01"
#dat_max = f"{year}-{month}-25"

datetime.datetime.now()
first = "2023-10-01"
last = "2023-12-25"
fmt = "%Y-%m-%d"

In [50]:
datetime.datetime.strptime(first, fmt)

datetime.datetime(2023, 10, 1, 0, 0)