In [124]:
import pandas as pd
import datetime

In [142]:
df = pd.read_csv("slots.csv")
df

,consumo(minutos),id,username,data_inicio,data_fim,curso,email,consumo_material(cm)
0,60.0,3283,MuriloCaselatti,2023-08-21 13:00:00,2023-08-21 14:00:00,ALUNO - UNISANTA - Engenharia de Computação,murilocaselatti92@gmail.com,0
1,60.0,1522,joselito,2023-08-21 12:00:00,2023-08-21 13:00:00,ALUNO - UNISANTA - Engenharia Eletrônica,josemaria.silvafilho93@gmail.com,824
2,60.0,967,hmaange,2023-08-21 11:00:00,2023-08-21 12:00:00,ALUNO - UNISANTA - Engenharia Civil,hmaange@hotmail.com,0

In [121]:
now = datetime.datetime.now()
df[['data_inicio','data_fim']] = df[['data_inicio','data_fim']].apply(pd.to_datetime)


id_ = df.loc[now >= df['data_inicio']].loc[now <= df['data_fim']]['id'].iloc[0]
id_

1522

In [104]:
df.loc[df['id']==1522, 'consumo_material(cm)'] = 3

In [134]:
df

,consumo(minutos),id,username,data_inicio,data_fim,curso,email,consumo_material(cm)
0,60.0,3283,MuriloCaselatti,2023-08-21 13:00:00,2023-08-21 14:00:00,ALUNO - UNISANTA - Engenharia de Computação,murilocaselatti92@gmail.com,0
1,60.0,1522,joselito,2023-08-21 12:00:00,2023-08-21 13:00:00,ALUNO - UNISANTA - Engenharia Eletrônica,josemaria.silvafilho93@gmail.com,824
2,60.0,967,hmaange,2023-08-21 11:00:00,2023-08-21 12:00:00,ALUNO - UNISANTA - Engenharia Civil,hmaange@hotmail.com,0

In [138]:
def g(*a,):
    print(type(a))
    for i in range(len(a)):
        print(a[i])

In [139]:
g(1,2,3,4,5,6)

<class 'tuple'>
1
2
3
4
5
6