In [1]:
import pandas as pd
import datetime

In [3]:
df = pd.read_csv("slots.csv")
df

,consumo(minutos),id,username,data_inicio,data_fim,curso,email,consumo_material(cm)
0,60.0,69,SchinaAluno,2023-08-22 19:30:00,2023-08-22 20:30:00,ALUNO - UNISANTA,sergioschina@yahoo.com.br,85
1,30.0,6,sergio,2023-08-22 19:00:00,2023-08-22 19:30:00,Funcionario - UNISANTA/COLÉGIO,sergioandradeschina@gmail.com,0
2,60.0,932,Muca,2023-08-21 21:00:00,2023-08-21 22:00:00,ALUNO - UNISANTA - Engenharia de Produção,murilovinicius2001@gmail.com,0

In [29]:

def check_period(actual_month):
    if actual_month <= 6:
        retrun [0,1]
    else:
        return [1,2]
    


f = lambda x: x <= i
filt = list(filter(f, [1,6,12]))
print(filt)

[0, 1]
[0, 1]
[0, 1]
[0, 1]
[0, 1]
[0, 1]
[1, 2]
[1, 2]
[1, 2]
[1, 2]
[1, 2]
[1, 2]
[1, 6, 12]